<?xml version="1.0" encoding="UTF-8"?>
<context_info xmlns="http://canvas.instructure.com/xsd/cccv1p0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://canvas.instructure.com/xsd/cccv1p0 https://canvas.instructure.com/xsd/cccv1p0.xsd">
  <course_id>1151790</course_id>
  <course_name>Spr25 CS 008 #36833 FUNDAMENTALS OF COMPUTER SCIEN</course_name>
  <root_account_id>10790000000087480</root_account_id>
  <root_account_name>Pasadena City College</root_account_name>
  <root_account_uuid>cfOrV5rAkpJx7KjBmDQaqhtJOAWhkTCvuhyetcON</root_account_uuid>
  <canvas_domain>canvas.pasadena.edu</canvas_domain>
</context_info>
